body{
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items:center;
    
}
#container{
    display: block;
    background: white;
    border-radius:2%;
    padding:1.5rem;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

input{
    width:100%;
    padding:0.3rem;
}

button{
width:55px;
height:40px;
margin-top:0.5rem;
margin-bottom:0.5rem;
background: whitesmoke;
outline: 0;
border:none;
border-radius: 2%;
font-size:1.5rem;

}
.row1 button{
    color:lightskyblue
}
button:last-child{
    color:lightskyblue 
}