*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background:linear-gradient(to bottom,rgb(123, 202, 247), rgb(250, 249, 249));
   display:flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
input{
    padding:16px 12px;
    width:400px;
    outline: 0;
    border-radius: 5px;
    font-size:18px;
    
}
i{
    margin-left:-10%
}
.fa-eye-slash{
    color:red;
}